extends layout
block content
    h1= title
    - let Monkeyid = toShow._id
    - let Monkey_name = toShow.Monkey_name
    - let Monkey_gender = toShow.Monkey_gender
    - let Monkey_age = toShow.Monkey_age
    div
    div.row
    div(class='MonkeyAttr mr-3') Monkey ID is:
    div #{Monkeyid}
    div.row
    div(class='MonkeyAttr mr-3') Monkey Name is:
    div #{Monkey_name}
    div.row
    div(class='MonkeyAttr mr-3') Monkey genger is:
    div #{Monkey_gender}
    div.row
    div(class='MonkeyAttr mr-3') Monkey age is:
    div #{Monkey_age}