extends layout
block content
  h1= title
  -let man=results 
  div(class="container-fluid")
    div(class="row")
      each item,index in man
        div.col-sm-2(onclick=`buy(${index})`) Name: #{item["Monkey_name"]}  <br>  gender: #{item["Monkey_gender"]} <br> age: #{item["Monkey_age"]}
      
  script.
     function buy(itemNo)
      {
        alert(`Places to visit ${itemNo+1}`)
      }
